footer{
    background-color: var(--colorPrimary5);
}
.footerItens{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 8% 24px 8%;
    align-items: center;
    gap: 18px;
}
.copyright{
    color: var(--colorNeutra1);
    font-weight: 500;
}