header{
    width: 100%;
    padding: 28px 8%;
    top: 0;
    background-color: var(--colorNeutra1);
    position: sticky;
    z-index: 3;
    box-shadow: 0px 0px 10px 2px black;
}

.navBar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navLogo{
    font-size: 24px;
    color: var(--colorSecond1);
}

.navList{
    display: flex;
    list-style: none;
    gap: 48px;
}
.navItem a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

