*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
}

.box{
    width: 1400px;
    height: 700px;
    display: flex;
}
.animBox{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    background-color: rgba(198, 196, 196, 0.2);
}
.titlePass{
    border: 1px solid red;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}
.titlePass h1{
    font-size: 64px;
}

.card{
    width: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(198, 196, 196, 0.2);
    border-radius: 0 10px 10px 0;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.title{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.formBox{
    border: 1px solid red;
    width: 75%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.formBox .group{
    margin-bottom: 15px;
}

.formBox .group label{
    color: #33404D;
    font-weight: bold;
    font-size: 25px;
    display: block;
    margin-bottom: 5px;
}

.formBox .group input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #33404D;
}