*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}


.containerImagens {
    position: relative;
    width: 30%; 
    height: 200px; 
    border: 1px solid red;
    /* margin-top: 2;0%; */
}

.imagem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: auto;
    pointer-events: none; 
}

.imagemTop {
    z-index: 3;
    top: 0px; 
    animation: animationTop 6s infinite linear;
}

.imagemMid {
    z-index: 2;
    top: 50px; 
    animation: animationMid 6s infinite linear;

}

.imagemBot {
    z-index: 1;
    top: 100px; 
    animation: animationBot 6s infinite linear;

}

@keyframes animationTop {
    0%{
        top: 0px;
        left: 0px;
    }
    25%{
        top: -50px;
        left: 0px;
    }
    50%{
        top: -50px;
        left: -50px;
    }
    75%{
        top: -50px;
        left: 50px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}

@keyframes animationMid {
    0%{
        /* top: 100px; */
        left: 0px;
    }
    25%{
        /* top: 60px; */
        left: 0px;
    }
    50%{
        /* top: 60px; */
        left: 50px;
    }
    75%{
        /* top: 60px; */
        left: -50px;
    }
    100%{
        /* top: 100px; */
        left: 0px;
    }
}

@keyframes animationBot {
    0%{
        top: 100px;
        left: 0px;
    }
    25%{
        top: 150px;
        left: 0px;
    }
    50%{
        top: 150px;
        left: -50px;
    }
    75%{
        top: 150px;
        left: 50px;
    }
    100%{
        top: 100px;
        left: 0px;
    }
}